{% extends 'base.html' %}

{% block title %}Nákupní Košík{% endblock %}

{% block content %}
    <h2>Váš Nákupní Košík</h2>
    {% if cart %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Cena (CZK)</th>
                    <th>Množství</th>
                    <th>Celkem (CZK)</th>
                    <th>Akce</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>
                            {% if item.product.image %}
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="max-width:100px; max-height:100px;">
                            {% elif item.product.image_url %}
                                <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}" style="max-width:100px; max-height:100px;">
                            {% else %}
                                <img src="path/to/default/image.jpg" alt="{{ item.product.name }}" style="max-width:100px; max-height:100px;">
                            {% endif %}
                            {{ item.product.name }}
                        </td>
                        <td>{{ item.price }} Kč</td>
                        <td>
                            <form action="{% url 'cart_update' item.product.id %}" method="post">
                                {% csrf_token %}
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" class="form-control" style="width:80px;">
                                <button type="submit" class="btn btn-sm btn-primary mt-2">Aktualizovat</button>
                            </form>
                        </td>
                        <td>{{ item.total_price }} Kč</td>
                        <td>
                            <form action="{% url 'cart_remove' item.product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Odstranit</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Celkem: {{ cart.get_total_price }} Kč</h3>
        <!-- Přidáme tlačítko pro dokončení objednávky -->
        <a href="{% url 'order_create' %}" class="btn btn-success">Pokračovat k objednávce</a>
    {% else %}
        <p>Váš košík je prázdný.</p>
    {% endif %}
{% endblock %}
