{% extends 'base.html' %}

{% block content %}
    <h2>Seznam Kategorií</h2>

    <ul>
        {% for category in categories %}
            <li>
                <strong>{{ category.name }}</strong>
                {% if category.subcategories.all %}
                    <ul>
                        {% for subcategory in category.subcategories.all %}
                            <li>
                                <a href="{% url 'product_list' %}?category={{ subcategory.id }}" class="product-name">{{ subcategory.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
