{% extends 'base.html' %}

{% block content %}
<h1>Vítejte ve Storge</h1>

<!-- Search Form -->
<div class="search-form">
    <form method="get" action="{% url 'product_search' %}">
        {{ search_form.as_p }}
        <button type="submit">Search</button>
    </form>
</div>

<h2>Aktuální trendy</h2>

{% for category in categories %}
    <h3>{{ category.name }}</h3>
    {% if category.products.all %}
        <ul>
            {% for product in category.products.all %}
                <li>
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" style="max-width:200px; max-height:200px;">
                    {{ product.name }} - {{ product.price }} USD
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products in this category.</p>
    {% endif %}
{% empty %}
    <p>No categories found.</p>
{% endfor %}
{% endblock %}
