<!-- templates/users/order_create.html -->

{% extends 'base.html' %}

{% block title %}Vytvoření Objednávky{% endblock %}

{% block content %}
    <h2>Vytvořit objednávku</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Odeslat objednávku</button>
    </form>
    <h3>Obsah Košíku</h3>
    <ul>
        {% for item in cart %}
            <li>
                <a href="{{ item.product.get_absolute_url }}" class="product-name">{{ item.product.name }}</a> - {{ item.quantity }} ks
            </li>
        {% endfor %}
    </ul>
    <h4>Celková cena: {{ cart.get_total_price }} Kč</h4>
    <p>Potřebujete pomoc? Kontaktujte nás na <a href="mailto:support@storge.cz">support@storge.cz</a></p>
{% endblock %}
