{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if current_category %}
        {{ current_category.name }}
    {% else %}
        Všechny produkty
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if current_category %}
            {{ current_category.name }}
        {% else %}
            Všechny produkty
        {% endif %}
    </h2>

    <!-- Sekce s produkty a stránkováním -->
    <div id="product-container">
        {% include 'users/product_list_partial.html' %}
    </div>

    <!-- JavaScript pro AJAX -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function loadContent(url, method='GET', data=null) {
                return fetch(url, {
                    method: method,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: data
                }).then(response => response.text());
            }

            // Delegace událostí pro stránkovací odkazy a odkazy na produkty
            document.getElementById('product-container').addEventListener('click', function(e) {
                if (e.target.tagName === 'A') {
                    const href = e.target.getAttribute('href');
                    if (e.target.classList.contains('pagination-link')) {
                        e.preventDefault();
                        loadContent(href).then(html => {
                            document.getElementById('product-container').innerHTML = html;
                            window.history.pushState(null, '', href);
                        });
                    }
                }
            });

            window.addEventListener('popstate', function(e) {
                loadContent(window.location.href).then(html => {
                    document.getElementById('product-container').innerHTML = html;
                });
            });
        });
    </script>
{% endblock %}
