<!DOCTYPE html>
<html>
<head>
    <title>Vyhledávání Produktů</title>
</head>
<body>
    <h1>Vyhledávání Produktů</h1>
    <form method="get" action="{% url 'Vyhledat produkty' %}">
        {{ form.as_p }}
        <button type="submit">Vyhledat</button>
    </form>

    <h2>Výsledky</h2>
    <ul>
        {% for product in results %}
            <li>{{ product.name }} - {{ product.description }}</li>
        {% empty %}
            <li>Žádné produkty nebyly nalezeny.</li>
        {% endfor %}
    </ul>
</body>
</html>
