{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
    <h2>Tvůj profil</h2>
    <p>Uživatelské jméno: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user.profile %}
        <p>Město: {{ user.profile.city }}</p>
        <p>Adresa: {{ user.profile.address }}</p>
        <p>Role: {{ user.profile.get_role_display }}</p>
        <p>Komunikační kanál: {{ user.profile.get_communication_channel_display }}</p>
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="100">
        {% endif %}
    {% endif %}
{% endblock %}
