{% extends "base.html" %}

{% block title %}Aktualizace Profilu{% endblock %}

{% block content %}
    <h2>Aktualizace Profilu</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Uživatelské Informace</legend>
            {{ u_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Profilové Informace</legend>
            {{ p_form.as_p }}
        </fieldset>
        <button type="submit" class="btn btn-primary">Aktualizovat</button>
    </form>
    <p>Potřebujete pomoc? Kontaktujte nás na <a href="mailto:support@storge.cz">support@storge.cz</a></p>
{% endblock %}
